<p>Thanks for helping to make SendGrid even better by contributing to one of our open source projects!</p>

<p>We want to send you some special swag as a thank you.</p>

<p>Clicking below will connect with GitHub to validate your contribution.</p>

<br/>

<a href="https://github.com/login/oauth/authorize?client_id={{github_client_id}}" class="myButton">Claim Your Swag!</a>
